<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payme-india</title>
    <link rel="icon" type="image/x-icon" href="images/icon.png" id="icon">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>

    {{> header}}

    <div class="grid-container">
        <div class="item1"><h1>Contact Us</h1></div>
        <div class="item3">

            <div class="left">
                <h2 class="head" >Corporate Office</h2>
                <p>Block-E, 27, Sector-15, Noida,</p>
                <p>Uttar Pradesh, 201301</p>
            </div>

            <div class="center">
                <h2 class="head">Contact Number</h2>
                <p>+91 706 570 4379</p>
                <p>+91 706 570 4379</p>
            </div>
            
            <div class="right">
                <h2 class="head">Email Address</h2>
                <p>info@Payme-india.com</p>
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.4450508255288!2d77.31285381490746!3d28.585844538000224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4f57fd0d2f7%3A0x1143935432f46c73!2sThe%20Landmark!5e0!3m2!1sen!2sin!4v1673585904023!5m2!1sen!2sin" width="" height="" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    {{> footer}}

</body>

</html>